@tailwind base;
@tailwind components;
@tailwind utilities;

/**
background color purple = #231c24
**/

@media (min-width:768px) {
  .custom-height-md {
    @apply h-[16.666vh];
  }
}

@font-face {
     font-family: 'IBM Plex Mono';
  src: url('/src/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/src/fonts/IBMPlexMono/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/src/fonts/spaceGrotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Keania-one';
  src: url('/src/fonts/keaniaOne/KeaniaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black;
}